[Desktop Entry]
Type=Application
Comment=GNOME Keyring: Secret Service
Exec=/usr/bin/gnome-keyring-daemon --start --components=secrets
NoDisplay=true
Terminal=false
StartupNotify=false
